.text {
  line-height: 1.5;
  color: #111827;
}

.sm {
  font-size: 0.85rem;
}

.md {
  font-size: 1rem;
}
.xl{
    font-size: 2rem;
    font-weight: 600;
}

.lg {
  font-size: 1.25rem;
  font-weight: 600;
}

.default {
  color: #111827;
}

.muted {
  color: #6b7280;
}

.white {
    color: #ffff
}

.orange{
    color: var(--orange-primary)
}
