.auth-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-header {
  background-color: var(--orange-primary);
  width: 100%;
  height: 12.813rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auth-content {
  width: 90%;
  max-width: 28.125rem;
}

.auth-title {
  margin: 1rem 0;
}

.auth-children {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  gap: 1rem;
}

@media (min-width: 768px) {
  .auth-header {
    width: 100%;
    max-height: 32.438rem;
  }

  .auth-content {
    max-width: 33.125rem;
  }
}

@media (min-width: 1440px) {
  .auth-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  .auth-header {
    background-color: var(--orange-primary);
    width: 100%;
    height: 100vh;
    max-height: none;
  }

  .auth-content {
    max-width: 36.25rem;
  }
}
